* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    padding: 200px;
    font-family: "Micro 5", sans-serif;
}

.calculator {
    width: 300px;
}

.buttons {
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
}

.row {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: inherit;
}

.calc-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: rgb(61, 55, 48);
    color: white;
    border-radius: 10%;
    font-size: 35px;
}

.display {
    border: 3px solid black;
    width: inherit;
    height: 130px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    
    overflow: hidden;
    white-space: nowrap;
}

.display-curr {
    font-size: 50px;
}

.display-prev {
    font-size: 30px;
    color:rgb(82, 73, 64)
}